# Python/Django
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# Django
# Keep DB and media tracked for this repo
# /db.sqlite3
# /media/
/staticfiles/

# Media students: keep folder, ignore files
media/students/*
!media/students/.gitkeep

# Environments
.env
.venv/
venv/
env/

# IDE/OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Logs and temp
*.log
*.tmp

# Misc
*.swp
*.swo
